button{
    text-align: center;
    margin: auto;
    padding: 5px 5px;
    position: absolute;
    left: 30%;
    top: 30%;
    border-radius: 13px 13px 13px 13px;
    width: 180px;
    height: 50x;
    background-color: rgba(0, 0, 255, 0.288);
    border-radius: rgba(67, 67, 235, 0.767);
   
}

button:hover{
    background-color: pink;
    box-shadow: 
        3px 3px 6px pink ,
        3px 3px 6px pink ,
        -3px -3px 6px rgba(27, 129, 245, 0.247) ,
        -3px -3px 6px rgba(27, 129, 245, 0.247);
    border-radius: rgb(90, 153, 247);    

} 